@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.home {
    font-family:"Macondo";
    background:url('homebackground.jpeg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.home p{
    font-size:2vw;
    font-family:"Macondo";
}

.intro {
    padding-top:5vw;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
}

.moto {
    margin-left:5vw;
}
.hexagon {
    height:24vw;
    width:35vw;
    background:url('hexagon.png') no-repeat;
    background-size:contain;
    background-position:center;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items:center;
    text-align:center;
}
.hexagon p{
    margin:1vw;
    padding:3vw;
}

.map {
    height:31vw;
    width:39vw;
    background:url('map.png') no-repeat;
    background-size:contain;
    background-position:center;
    margin-right:5vw;
}


@media (max-width:600px) {
    * p{
        font-size:3vw;
    }
    .intro{
        padding-top:10vw;
    }
    .hexagon{
        width:75vw;
        height:53vw;
    }
    .map{
        padding-top:10vw;
        width:94vw;
        height:67vw;
    }
}