@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');

*.teams {
    font-family:Josefin Slab;
}

.teams{
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.title {
    height:8vw;
    background: linear-gradient(#67B196, #67B196 60%, white );
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    color:white;
}

.trenure {
    display:flex;
    justify-content:flex-end;
    margin-top:3px;
}
.trenure p {
    background:#FFBA08;
    border-radius:1.8vw;
    box-shadow: 2px 2px 5px grey;
    align-items:center;
    text-align:center;
    padding-top:0.5vw;
    padding-bottom:0.5vw;
    padding-right:1vw;
    padding-left:1vw;
    margin-right:3vw;
    size:auto;
}

.card {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    border-radius:10px;
    background-color:transparent;
    margin:2vw;
}

.circle {
    height:15vw;
    width:15vw;
    background:grey;
    background-size:100%;
    border-radius: 50%;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    margin-top:10px;
    margin-bottom:10px;
    overflow:hidden;
}

.items {
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.portfolio {
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:5vw;
}

@media (max-width: 600px) {
    .trenure{
        font-size:0.8rem;
    }
}