/* styles.module.css */

/* Styling for the green background */
.green-background {
    background-color: green; /* Green background color */
    height: 100vh; /* 100% viewport height */
    display: flex;
    flex-direction: row; /* Align squares in a row */
    align-items: center;
  }
  
  /* Styling for the dark green squares */
  .dark-green-square {
    background-color: darkgreen; /* Dark green square color */
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  
  /* Styling for the light violet background */
  .light-violet-background {
    background-color: lightviolet; /* Light violet background color */
    height: 100vh; /* 100% viewport height */
    display: flex;
    flex-direction: row; /* Align squares in a row */
    align-items: center;
  }
  
  /* Styling for the dark violet squares */
  .dark-violet-square {
    background-color: darkviolet; /* Dark violet square color */
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  