@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

.CareerCounselling{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items:center;
    height: auto;
    border: 5vw;
    background: linear-gradient( #CBC1F4,#CBC1F4 60%,#FFFFFF);
}

.CareerCounselling p{
    font-family:"Katibeh";
    font-size:2vw;
}

.CareerCounselling h2{
    font-family: "Irish Grover";
    font-size:3vw;
}

.title{
    display:flex;
    justify-content:flex-start;
    height:7vw;
    width:100vw;
}
.title h2{
    width:80vw;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin-right:10vw;
    margin-left:0;
    padding-top:2vw;
    padding-bottom:2vw;
}

.back {
    height:3vw;
    width:6vw;
    background:#9686F9;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border-radius:1vw;
    box-shadow:2px 2px 5px black;
    margin:2vw;
}
.back p{
    font-family:"Itim";
    color:black;
}

.body{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    height:35vw;
    width:100vw;
    padding-top:3vw;
    padding-bottom:5vw;
}

.image {
    height:30vw;
    width:48vw;
    background-image: url('CareerCounselling.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    align-items:center;
}

.description {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    height:25vw;
    width: 35vw;
    flex-wrap:wrap;
}

@media (max-width:1200px){
    .CareerCounselling{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        height:auto;
    }
    .title h2{
        margin-top:8vw;
        padding-top:4vw;
        padding-bottom:0;
    }
    .body{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        height:auto;
    }
    .image{
        margin:4vw;
        margin-top:8vw;
        margin-bottom:1vw;
        height:50vh;
        width:90vw;
        background-size:cover;
    }
    .description{
        height:auto;
        width:100vw;
        margin-bottom:10vw;
    }
    .description p{
        font-size:3vw;
        padding:10vw;
    }
}

@media (max-width:600px) {

    .CareerCounselling h2{
        font-size:6vw;
        margin-top:0;
        padding-top:0;
    }

    .CareerCounselling p{
        font-size:4vw;
    }
    .CareerCounselling{
        height:auto;
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
    }

    .title{
        margin-top:5vw;
        height:10vh;
        display:flex;
        justify-content:space-evenly;
        align-items:flex-end;
    }
    .title h2{
        margin-top:5vw;
        padding-bottom:20;
        margin-bottom:20;
        width:60vw;
        margin-right:20vw;
        text-align:center;
    }
    .back p{
        font-size:2.5vw;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        margin:0;
    }
    .back{
        width:8vw;
        height:1.5vh;
        align-items:center;
        margin-bottom:7vh;
        margin-left:3vw;
        margin-right:9vw;
    }

    .image {
        margin-top:20vw;
        height:85vw;
        width:85vw;
        padding:0;
    }

    .description {
        margin-top:15vw;
        width:95vw;
        margin-bottom:40vw;
    }
    .description p{
        padding:5vw;
    }
}